<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

        <style type="text/css">
          body {
            background-color: rgba(237,239,241,1);
          }
          .table {
          	background-color: #fff;
          	text-align: center;
          }
          .table th {
          	max-width: 200px;
          	font-weight: normal;
          	text-align: center;
          	border-right: 1px solid #eceeef;
          }
          .table tr:nth-child(2n) {
          	background-color: #fafafa;
          }
          .logo {
            margin: 1rem auto;
          }
          .title {
            color: #5db400;
            font-size: 20px;
            margin: 2rem 0 1rem 0;
          }
          .subtitle {
            color: rgb(85, 85, 85);
            font-size: 18px;
          }
          .plan {
            max-width: 730px;
            margin: 2rem auto;
          }
          .card-block {
            background-color: #fff;
          }
          .card-block-1 {
            border-radius: 5px 0 0 5px;
            padding-top: 4rem;
          }
          .card-block-2 {
            border-radius: 0;
            padding-top: 4rem;
          }
          .card-block-3 {
            border-radius: 0 5px 5px 0;
            padding-top: 4rem;
          }
          .card-active {
            background-color: #2196DD;
            color: #fff;
          }
          .card-title {
            font-size: 18px;
            font-weight: bold;
          }
          .card-price {
            font-size: 22px;
            display: block;
            margin: 2rem auto;
          }
          .btn-orange {
            background-color: rgba(235,90,52,1);
            border-color: rgba(235,90,52,1);
            font-size: 14px;
            border-radius: 5px;
          }
          .btn-green {
            background-color: rgba(80,171,0,1);
            border-color: rgba(80,171,0,1);
            border-radius: 5px;
          }
          .testimonies {
            margin: 2rem auto;
            max-width: 720px;
          }
          .testimonies .card {
            width: 30%;
            background-color: #fff;
            border-radius: 5px;
          }
          .testimonies .card-block {
            position: relative;
            background-color: #fff;
            z-index: 10;
            border-radius: 5px;
          }
          .testimonies .card-text {
            font-size: 20px;
            display: block;
            padding: 2rem 0;
          }
          .card-user-img {
            border-radius: 50%;
            z-index: 12;
            border: 2px solid #fff;
          }
          .card-user {
            z-index: 15;
            margin-top: -35px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 100%;
          }
          .card-img {
			position: absolute;
			top: -5px;
			right: -5px;
          }
          .footer-msg {
            margin-top: 8rem;
          }
          .footer-msg-1 {
            font-size: 20px;
            margin: 0;
          }

          .footer-msg-2 {
            font-size: 20px;
            font-weight: bold;
          }

          .glyphicon-remove {
          	color: red;
          	font-size: 1.5rem;
          }

          .glyphicon-ok {
          	color: green;
          	font-size: 1.5rem;
          }
          @media screen and (max-width: 480px) {
            .card {
              width: 100% !important;
              display: block !important;
            }
            .testimonies .card {
              width: 100%;
              background-color: #fff;
              border-radius: 5px;
              margin-bottom: 7rem;
            }
          }
        </style>
    </head>
    <body class="container">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    
      <div class="row text-center">
        <img class="logo center-block" src="http://i1309.photobucket.com/albums/s635/tarefasimple/Colegio-brasil-gnerico_zpsw2qjmoov.png" alt="">
        <h2 class="title">Planos PERFEITOS para melhorar as suas médias na faculdade.</h2>
        <h3 class="subtitle">ÚLTIMA SEMANA de promoção</h3>
      </div>


      <div class="plan text-center">

        <div class="card-group">
          <div class="card">
            <div class="card-block card-block-1">
              <h4 class="card-title">Crédito Tarefa</h4>
              <span class="card-price">R$ 19.90</span>
              <p class="card-text">Faça 10 perguntas. Tranquilo! O crédito Tarefa não expira.</p>
              <p class="card-text">Só R$ 1,99 por pergunta!  </p>
              <a href="#"><!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
<form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post" onsubmit="PagSeguroLightbox(this); return false;">
<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
<input type="hidden" name="itemCode" value="B18ADA981313FA7CC49C6F817DF44DA2" />
<input type="image" src="http://i1309.photobucket.com/albums/s635/tarefasimple/Captura%20de%20pantalla%202015-09-24%20a%20las%207.02.52%20p.m._zpsntatk3y2.png" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
</form>
<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
<!-- FINAL FORMULARIO BOTAO PAGSEGURO --></a>
            </div>
          </div>
          <div class="card">
            <div class="card-block card-block-2">
              <h4 class="card-title">Plano Mensal</h4>
              <span class="card-price">R$ 29.90</span>
              <p class="card-text">Faça todas as perguntas que você quiser. </p>
              <p class="card-text">Só R$ 0,99 por dia!</p>
              <br>
              <a href="#"><!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
<form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post" onsubmit="PagSeguroLightbox(this); return false;">
<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
<input type="hidden" name="itemCode" value="A632312EF6F6759224C71FABA0AEF684" />
<input type="image" src="http://i1309.photobucket.com/albums/s635/tarefasimple/Captura%20de%20pantalla%202015-09-24%20a%20las%207.02.52%20p.m._zpsntatk3y2.png" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
</form>
<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
<!-- FINAL FORMULARIO BOTAO PAGSEGURO --></a>
            </div>
          </div>
          <div class="card card-active">
            <div class="card-block card-active card-block-3">
              <img class="card-img" src="http://i1309.photobucket.com/albums/s635/tarefasimple/banda_zpsa1nrhxhg.png">
              <h4 class="card-title">Plano Trimestral</h4>
              <span class="card-price">R$ 70.90</span>
              <p class="card-text">Economize usando Tarefa por 3 meses</p>
              <p class="card-text">Apenas R$ 0,78 por dia! </p>
              <br>
              <a href="#"><!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
<form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post" onsubmit="PagSeguroLightbox(this); return false;">
<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
<input type="hidden" name="itemCode" value="D8A33E1AECEC1A2774A73F802B072091" />
<input type="image" src="http://i1309.photobucket.com/albums/s635/tarefasimple/Captura%20de%20pantalla%202015-09-24%20a%20las%207.03.11%20p.m._zpskcxy6k7r.png" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
</form>
<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
<!-- FINAL FORMULARIO BOTAO PAGSEGURO --></a>
            </div>
          </div>
        </div>

      </div>


	  <div class="plan">
	  	<table class="table">
	      <thead>
	        <tr>
	          <th></th>
	          <th>Aulas particulares</th>
	          <th><strong>Tarefa</strong></th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <th scope="row">Professores disponíveis SEMPRE que você PRECISAR</th>
	          <td><img src="http://i1309.photobucket.com/albums/s635/tarefasimple/BAD_zpsx7vu4dlz.png"></td>
	          <td><img src="http://i1309.photobucket.com/albums/s635/tarefasimple/CHECK_zpsj5e0o62p.png"></td>
	        </tr>
	        <tr>
	          <th scope="row">Respostas rápidas, certas e explicadas passo a passo</th>
	          <td><img src="http://i1309.photobucket.com/albums/s635/tarefasimple/BAD_zpsx7vu4dlz.png"></td>
	          <td><img src="http://i1309.photobucket.com/albums/s635/tarefasimple/CHECK_zpsj5e0o62p.png"></td>
	        </tr>
	        <tr>
	          <th scope="row">Número de perguntas que você pode fazer</th>
	          <td>Limitado</td>
	          <td>Ilimitado</td>
	        </tr>
	        <tr>
	          <th scope="row">Preço</th>
	          <td>R$ 30 por Hora</td>
	          <td><strong>R$ 29,90 por Mes</strong></td>
	        </tr>
	      </tbody>
	    </table>
	  </div>

      <div class="testimonies text-center">
        
         <div class="card-deck-wrapper">
          <div class="card-deck">
            <div class="card">
              <div class="card-block">
                <p class="card-text">“Com Tarefa posso tirar todas as dúvidas que  não consigo tirar na sala de aula.”</p>
              </div>
              <div class="card-user">
                <img class="card-user-img" src="http://i1309.photobucket.com/albums/s635/tarefasimple/Matheus%20da%20silva_zpsdpvpb5nt.png">
                <h4 class="card-title">Matheus da Silva</h4>
                <h6>São Paulo</h6>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <p class="card-text">“Demasi! Respostas muito boas sempre que eu preciso.”</p>
              </div>
              <div class="card-user">
                <img class="card-user-img" src="http://i1309.photobucket.com/albums/s635/tarefasimple/Carla%20Rafaela_zpsctaotqdt.png">
                <h4 class="card-title">Carla Rafaela</h4>
                <h6>Porto Alegre</h6>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <p class="card-text">“Com o Tarefa eu consegui melhorar minhas médias na faculdade”</p>
              </div>
              <div class="card-user">
                <img class="card-user-img" src="http://i1309.photobucket.com/albums/s635/tarefasimple/Marta%20Martins_zpszmgy6ayu.png">
                <h4 class="card-title">Marta Martins</h4>
                <h6>Rio de Janeiro</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="row footer-msg text-right">
          <p class="footer-msg-1">Milhares de professores estão disponíveis para te ajudar.</p>
          <p class="footer-msg-2">O que você está esperando para aprender matemática hoje?</p>
        </div>

      </div>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

      <script src="js/vendor/bootstrap.min.js"></script>

      <script src="js/main.js"></script>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X','auto');ga('send','pageview');
      </script>
    </body>
</html>
